~$sh_commands.rtf
.vs/darwin/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs/darwin/CopilotIndices/17.12.38.29086
*.db
*.db-shm
*.db
/.vs
/.vs
/.vs
/.vs/darwin/v17
.vs/VSWorkspaceState.json
*.db-wal
*.sqlite
*.json
*.sqlite
*.db
.vs/darwin/v17/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
*.bin
